{% extends 'food/base.html' %}
<html>
    <head>
    <style> .p{padding-bottom:5px;} </style>
    </head>
    <body>
        {% block body %}
        <div class="container">
            <div class="row">
            <div class="col-md-6">

                <img class="card" height="350px" src="{{ item.item_img }}"></img>

            </div>

                <div class="col-md-6" style="padding-left:100px;">

                    <h1 id="p">{{item.item_name}}</h1>
                    <h1 id="p">{{item.item_desc}}</h1>
                    <h1 id="p">{{item.user_name}}</h1>
                    <h1 id="p">&#x20b9;{{item.item_price}}</h1>
                    <a class="btn btn-danger" href="/food/update/{{item.id}}">Edit</a>
                    <a class="btn btn-danger"  href="/food/delete/{{item.id}}">Delete</a>

                </div>
            </div>
        </div>
        {% endblock %}
    </body>
</html>
